<div class="main-container">
  <h2>Nova Lista</h2>

  <%= render "form", list: @list %>

  <div class="buttons-container">
    <%= link_to "Voltar para Listas", lists_path, class: "btn btn-secondary" %>
  </div>
</div>
