<div id="<%= dom_id item %>">
  <p>
    <strong>Description:</strong>
    <%= item.description %>
  </p>

  <p>
    <strong>Is done:</strong>
    <%= item.is_done %>
  </p>

  <p>
    <strong>List:</strong>
    <%= item.list_id %>
  </p>

</div>
