<div class="main-container">
  <h2>Nova Categoria</h2>

  <%= render "form", category: @category %>

  <div class="buttons-container">
    <%= link_to "Voltar para Categorias", categories_path, class: "btn btn-secondary" %>
  </div>
</div>
